/*
    SEZIONE STATISTICHE
*/

.stats-grid:first-child::before {
    content: "\1F525";
    font-size: 35px;
}

.stats-grid:last-child {
    background-color: #6b5aba;
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label {
    color: #fff;
}

.stats-grid {
    cursor: pointer;
    transition: 0.3s ease;
}

.stats-grid:hover {
    transform: translatey(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0.1);
}

/*
    PIANO DI ALLENAMENTO
*/

.workout-plan:nth-of-type(2) {
    background-color: #fff8ba;
    position: relative;
}

.workout-plan:nth-of-type(2) h3::before {
    content: "";
    height: 149px;
    width: 6px;
    border-radius: 8px 0 0 8px;
    background-color: #f39c12;
    position: absolute;
    top: 0;
    left: 0;
}

/*
    SEZIONE ESERCIZI
*/

.exercise-item:first-of-type,
.exercise-item:last-of-type {
    background-color: #f0fff4;
    position: relative;
}

.exercise-item:first-of-type::before,
.exercise-item:last-of-type::before {
    content: "";
    height: 84px;
    width: 5px;
    border-radius: 8px 0 0 8px;
    background-color: #30cc72;
    position: absolute;
    top: 0;
    left: -3px;
}